* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

input {
  width: 60px;
}

.calculator {
  display: flex;
  flex-direction: row;
  height: 800px;
  width: 1400px;
}
.calculator .plot {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
}
.calculator .plot .parametr {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 20%;
  width: 98%;
  margin-left: 1%;
  margin-top: 1.25%;
}
.calculator .plot .plot_day {
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 40%;
  width: 98%;
  margin-left: 1%;
  margin-top: 1.25%;
}
.calculator .plot .plot_trende {
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 40%;
  width: 98%;
  margin-left: 1%;
  margin-top: 1.25%;
}
.calculator .options {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: white;
}
.calculator .options p {
  display: grid;
  grid-column: span 3;
  place-items: center;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  min-width: 50px;
}
.calculator .options input {
  width: 90%;
  height: 30px;
  text-align: end;
  font-size: 16px;
  font-family: sans-serif;
  border: 1px solid white;
  background: transparent;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.calculator .options input:focus,
.calculator .options :hover,
.calculator .options :active {
  outline: 0;
  outline-offset: 0;
}
.calculator .options .name_tick {
  width: 65px;
}
.calculator .options .battary {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  place-items: center;
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 200px;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  padding: 5px;
}
.calculator .options .truck {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  place-items: center;
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 100px;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  padding: 5px;
}
.calculator .options .charger {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  place-items: center;
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 150px;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  padding: 5px;
}
.calculator .options .time_step {
  position: relative;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 150px;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}
.calculator .options .time_step p {
  max-height: 50px;
  min-height: 50px;
}
.calculator .options .time_step span {
  display: grid;
  width: 100%;
  place-items: center;
}
.calculator .options .time_step .plus {
  grid-row: span 2;
  place-items: center;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
}
.calculator .options .time_step .stash {
  display: grid;
  overflow-y: scroll;
  grid-column: span 3;
  width: 100%;
}
.calculator .options .time_step .stash .post {
  grid-column: span 2;
}
.calculator .options .time_step .stash .del {
  cursor: pointer;
  user-select: none;
}
.calculator .options .equel {
  position: relative;
  min-height: 30px;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
.calculator .options .equel:hover {
  border: 1px solid #53c0ff;
}

/*# sourceMappingURL=style.css.map */
