* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes white_black {
    from {
        background-color: white;
    }

    to {
        background-color: black;
        color: white;
    }
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.block_row {
    display: flex;
    flex-direction: row;
}

.block_column {
    display: flex;
    flex-direction: column;
}

h3 {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 980px;

    &__calc {

        .calc {
            display: flex;
            flex-direction: row;

            h4 {
                position: relative;
                min-width: 100%;
                text-align: left;
                padding: 15px 0 5px 3px;
            }

            select,
            input {
                width: 100px;
                height: 30px;
                background-color: #00000050;
                border-radius: 8px;
                border: 1px solid rgba(255, 255, 255, 0.3);
                color: white;
                padding-left: 5px;
                float: left;

                option {
                    font-size: 17px;
                    border-radius: 5px;
                    color: white;
                    background-color: #1d1c1c;
                }
            }

            .battery_stat {

                display: flex;
                flex-direction: column;
                background-color: #1d1c1c;
                color: white;
                border-radius: 15px;
                width: 50%;
                padding: 0 15px 15px 15px;


                h3 {
                    text-align: left;
                    font-weight: bold;
                    font-size: 20px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    letter-spacing: 0.1px;
                    padding-top: 15px;
                }

                .point {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;

                    label {

                        span {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            line-height: 30px;
                            padding: 0 5px 0 5px;
                        }
                    }

                }

                .last_label {
                    padding-left: 15px;
                }
            }

            .stop_time {
                margin-left: 15px;
                display: flex;
                flex-direction: row;
                background-color: #1d1c1c;
                color: white;
                border-radius: 15px;
                padding: 15px;
                min-width: 50%;

                label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding-top: 15px;
                    width: 150px;

                    input {
                        margin-left: 10px;
                        margin-right: 10px;
                        width: 90px;
                        user-select: none;
                    }
                }



                .plus {
                    width: 40px;
                    height: 75px;
                    margin-top: 15px;
                    padding: 0;
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    user-select: none;
                    background-color: white;
                    color: black;
                    font-size: 45px;
                    font-weight: 600;
                    transition-duration: 0.5s;

                    &:hover {
                        animation: white_black 0.2s both;
                    }
                }

                .equel {
                    width: 100%;
                    height: 30px;
                    margin-top: 15px;
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    user-select: none;
                    background-color: white;
                    color: black;
                    font-weight: 600;

                    &:hover {
                        animation: white_black 0.2s both;
                    }
                }

                .stash {
                    overflow-y: scroll;
                    max-height: 135px;
                    min-height: 135px;
                    background-color: #1d1c1c;
                    color: white;
                    padding-left: 15px;

                    .post {
                        width: 100%;
                        padding-left: 2px;
                        margin-top: 15px;
                        display: flex;
                        flex-direction: row;

                        .time_step {
                            display: inline-block;
                            width: 190px;
                        }

                        .del {
                            display: inline-block;
                            min-width: 50px;
                            height: 18px;
                            border: 1px solid rgba(255, 255, 255, 0.3);
                            text-align: center;
                            border-radius: 8px;
                            background-color: white;
                            color: black;
                            font-weight: bold;
                            font-size: 30px;
                            line-height: 16px;
                            cursor: pointer;
                            user-select: none;

                            &:hover {
                                animation: white_black 0.2s both;
                            }
                        }
                    }
                }
            }


        }
    }

    &__plot {
        display: flex;
        flex-direction: row;
        width: 100%;

        .result {
            display: flex;
            flex-direction: column;
            width: 25%;
            background-color: #1d1c1c;
            color: white;
            border-radius: 15px;
            padding: 15px;
            margin-top: 15px;

            .res_tick {
                padding-top: 15px;
                width: 100%;
                line-height: 30px;
                font-size: 20px;

                span {
                    display: flex;
                    float: right;
                }
            }
        }

        .plot_day {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 75%;
            height: 330px;
            margin-top: 15px;
            margin-left: 15px;

            background-color: #1d1c1c;
            color: white;
            border-radius: 15px;

            .containerPlot {
                width: 960px;
                height: 100%;
                padding: 15px 15px 15px 0;
                color: black;

            }
        }
    }
}